.enigmaLogo{
    background:url(enigma_logo.png);
    width: 522px;
    height: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 31.4%;
}
.letterCircle{
    background: black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    position: absolute;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.lampBoard{
    height: 340px;
    width: 1400px;
    border:rgb(248, 249, 249);
    position: relative;
    top:350px;
    right:450px;
}
.rotorbox{
    height: 300px;
    width: 600px;
    border:rgb(248, 249, 249);
    position: relative;
    border: 3px solid white;
    top:250px;
    right:40px;
}